
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>The Gossip Project</title>
    <!-- On peut avoir d'autres méta-données ici -->
  </head>
  <body>

    <h1>Page d'accueil</h1>
      <p>>>>>>>>> Bienvenue <%= params["id"]%>  !!! <<<<<<<<
      <br/>
      <br/>
      <%= link_to "Home", root_path, :class =>"nav-link" %>
  </body>
</html> 